.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #212529;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: rgb(201, 201, 201);
    margin-top: 30px;
    z-index: 99;
    font-family: "Poppins", monospace;


    p {
        margin: 0;
        font-style: italic;
        font-weight: 200;
        font-size: 13px;
    }
}