// /** Nav **/

$linkColor: rgba(153, 155, 157);

nav {
  width: 100%;
  z-index: 999;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  min-height: 51px;
  font-weight: 300;
  position: fixed;
  transition: all .3s ease;
  font-family: "Poppins", monospace;
  color: $linkColor;

  a {


    &:hover {
      color: turquoise !important;
      transition: all .1s ease;
    }
  }
}

.rueda {
  transition: transform .3s ease;

  &:hover {
    transform: rotate(360deg);
  }
}


.nav-item {
  transition: all .3s ease;
}

.activo {
  border-bottom: 1px solid turquoise !important;
  color: turquoise !important;
  padding: 5px;
  transition: all .3s ease;
  transform: translateY(-2px);
}

.logo_container {
  /*  padding: 10px; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  cursor: pointer;
  text-decoration: none;


  img {
    margin-right: 10px;
  }

  p {
    color: $linkColor;
    margin-bottom: 0px;

  }
}


/* Menu hamburgesa */

.menu-activador {
  position: absolute !important;
  z-index: 9999 !important;
  right: 15px;
  width: 30px;
  height: 20px;
  margin: 100px auto;

  @media (min-width: 993px) {
    display: none;
  }

  #lanzador {
    position: absolute;
    left: -9999px;
  }

  label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    cursor: pointer;
  }

  .menu-activador-linea {
    height: 2px;
    background-color: rgb(255, 255, 255);
    opacity: 1;
    transform: translateY(0) rotate(0);
    transition: all 0.3s;
  }

  #lanzador:checked~label .menu-activador-linea {
    &:nth-child(1) {
      transform: translateY(9px) rotate(45deg);
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:nth-child(3) {
      transform: translateY(-9px)rotate(-45deg);
    }
  }
}